{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}

{% load staticfiles %}
<!DOCTYPE html>
    <head>
        <!-- Materialize as the web front end framework -->
        <!-- Compiled and minified CSS -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>WorldNest</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static 'js/materialize.js' %}"></script>
        <script src="{% static 'js/init.js' %}"></script>       
    </head>
    
    <body>
      <nav class="red" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="{% url 'HomePage' %}" class="brand-logo">WorldNest</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'MyBoard' %}">My Board</a></li>
            <li><a href="{% url 'EventList' %}">Browse Events</a></li>
            <li><a href="{% url 'EventForm' %}">Launch Events</a></li>
            <li><a href="{% url 'EventType' %}">Types</a></li>
            <li><a href="{% url 'EventTopic' %}">Topics</a></li>
            <li><a href="{% url 'UserProfile' %}">My Profile</a></li>
            <li><a href="{% url 'UserSetting' %}">Setting</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="{% url 'MyBoard' %}">My Board</a></li>
            <li><a href="{% url 'EventList' %}">Browse Events</a></li>
            <li><a href="{% url 'EventForm' %}">Launch Events</a></li>
            <li><a href="{% url 'EventType' %}">Types</a></li>
            <li><a href="{% url 'EventTopic' %}">Topics</a></li>
            <li><a href="{% url 'UserProfile' %}">My Profile</a></li>
            <li><a href="{% url 'UserSetting' %}">Setting</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
          </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <center>
  <iframe src="https://calendar.google.com/calendar/embed?src=worldnestcmu%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </center>
        
    </body>
</html>