{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}

{% load staticfiles %}
<!DOCTYPE html>
    <head>
        <!-- Materialize as the web front end framework -->
        <!-- Compiled and minified CSS -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>WorldNest</title>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static 'js/materialize.js' %}"></script>
        <script src="{% static 'js/init.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>         
    </head>
    
    <body>
        <nav class="red" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'HomePage' %}" class="brand-logo">WorldNest</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'MyBoard' %}">My Board</a></li>
        <li><a href="{% url 'EventList' %}">Browse Events</a></li>
        <li><a href="{% url 'EventForm' %}">Launch Events</a></li>
        <li><a href="{% url 'EventType' %}">Types</a></li>
        <li><a href="{% url 'EventTopic' %}">Topics</a></li>
        <li><a href="{% url 'UserProfile' %}">My Profile</a></li>
        <li><a href="{% url 'UserSetting' %}">Setting</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'auth_login' %}">Login</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{% url 'MyBoard' %}">My Board</a></li>
        <li><a href="{% url 'EventList' %}">Browse Events</a></li>
        <li><a href="{% url 'EventForm' %}">Launch Events</a></li>
        <li><a href="{% url 'EventType' %}">Types</a></li>
        <li><a href="{% url 'EventTopic' %}">Topics</a></li>
        <li><a href="{% url 'UserProfile' %}">My Profile</a></li>
        <li><a href="{% url 'UserSetting' %}">Setting</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'auth_login' %}">Login</a></li>
        {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<div class="slider">
    <ul class="slides">
      {% for event in latest %}
      <li>
        <img src={{event.image}}> <!-- random image -->
        <div class="caption center-align">
          <h3>{{event.title}}</h3>
          <h5 class="light grey-text text-lighten-3">{{event.organizer}}</h5>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="row">
      <div class="col s12 m3">
        <div class="card-panel blue">
          <span class="white-text">
            <h5>Explore The World</h5>
            <ul>
              <li>Attraction</li>
              <li>Trip</li>
              <li>Expo</li>
              <li>Festival</li>
            </ul>
          </span>
        </div>
      </div>
      {% for event in blue %}
      <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src={{event.image}}>
              <span class="card-title">{{event.title}}</span>
            </div>
            <div class="card-content">
              <p>Time: {{event.start_time}} - {{event.end_time}}</p>
              <p>Organizer: {{event.organizer}}
            </div>
            <div class="card-action">
              <a href="../{{event.id}}">Event Page</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="row">
      <div class="col s12 m3">
        <div class="card-panel yellow">
          <span class="white-text">
            <h5>Build Connections</h5>
            <ul>
              <li>Convention</li>
              <li>Social</li>
              <li>Networking</li>
              <li>Conference</li>
              <li>Seminar</li>
            </ul>
          </span>
        </div>
      </div>
      {% for event in yellow %}
      <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src={{event.image}}>
              <span class="card-title">{{event.title}}</span>
            </div>
            <div class="card-content">
              <p>Time: {{event.start_time}} - {{event.end_time}}</p>
              <p>Organizer: {{event.organizer}}
            </div>
            <div class="card-action">
              <a href="../{{event.id}}">Event Page</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="row">
      <div class="col s12 m3">
        <div class="card-panel green">
          <span class="white-text">
            <h5>Enjoy Time Of Our Lives</h5>
            <ul>
              <li>Concert</li>
              <li>Game</li>
              <li>Festival</li>
              <li>Gala</li>
            </ul>
          </span>
        </div>
      </div>
      {% for event in green %}
      <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src={{event.image}}>
              <span class="card-title">{{event.title}}</span>
            </div>
            <div class="card-content">
              <p>Time: {{event.start_time}} - {{event.end_time}}</p>
              <p>Organizer: {{event.organizer}}
            </div>
            <div class="card-action">
              <a href="../{{event.id}}">Event Page</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
        
    </body>
</html>